.mycursor {
  background: blue;
  width: 2px !important;
  position: relative;
}

.mycursor::after {
  content: "jose";
  position: absolute;
  background-color: blue;
  color: white;
  padding: 1px 3px;
  top: -10px;
  z-index: 1;
  font-size: 13px;
}
